torch
torchaudio
torchfile
torchvision
absl-py==0.13.0
astunparse==1.6.3
batchgenerators==0.23
cachetools==4.2.2
carbontracker==1.1.6
certifi==2021.5.30
chardet==4.0.0
ci-info==0.2.0
click==8.0.1
cycler==0.10.0
decorator==4.4.2
dicom2nifti==2.3.0
dominate==2.6.0
etelemetry==0.2.2
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.4.0
geocoder==1.38.1
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
hiddenlayer==0.3
idna==2.10
imageio==2.9.0
isodate==0.6.0
joblib==1.0.1
jsonpatch==1.32
jsonpointer==2.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
linecache2==1.0.0
lxml==4.6.3
Markdown==3.3.4
matplotlib
MedPy==0.4.0
networkx==2.5.1
neurite==0.1
nibabel==3.2.1
nipype==1.6.1
-e git+https://github.com/MIC-DKFZ/nnUNet.git@96d44c2fc1ce5e18da4cd54bf52882047c37982e#egg=nnunet
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==21.0
pandas
pi==0.1.2
Pillow==8.2.0
protobuf==3.9.2
prov==2.0.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydicom==2.1.2
pydot==1.4.2
pynvml==11.0.0
pyparsing==2.4.7
pystrum==0.1
python-dateutil==2.8.1
pytorch-ignite==0.4.8
pytz==2021.1
PyWavelets==1.1.1
pyzmq==22.1.0
ratelim==0.1.6
rdflib
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image
scikit-learn
scipy
SimpleITK==2.1.0
simplejson==3.17.3
six==1.15.0
sklearn==0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile
tornado==6.1
tqdm==4.61.2
traceback2==1.4.0
traits==6.2.0
typing-extensions==3.7.4.3
unittest2==1.1.0
urllib3==1.26.6
visdom==0.1.8.9
websocket-client==1.1.0
Werkzeug==2.0.1
wrapt==1.12.1